recursive-include doc *.rst Makefile conf.py

include AUTHORS.txt
include LICENSE.txt
include README.rst
include requirements.txt

include xtas/tasks/sentiwords/sentiwords.txt
include xtas/tests/test_corenlp.xml
