# Requirements for Python 3 (experimental)
celery>=3.0.0
chardet
corenlp_xml
cytoolz
docopt
elasticsearch>=1.2.0,<2.0.0
flask>=0.10.1
gensim
kombu
#langid>=1.1.4dev
#librabbitmq
nltk>=3.0.0
pyspotlight
PyStemmer
scikit-learn>=0.15.2
setuptools>=1.3.2
six>=1.4.1
tornado
unidecode
weighwords
